/* .button{
    padding: 5px;
    color: black;
    font-family:serif;
    font-weight: 400;
    border-radius: 10px;
    margin-top: 20px;
    border:  2px solid white;
  
}
.button:hover{
    background-color: white;
    color: black;
    border: 1px solid yellow;
} */